@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
  --bg-color: #f0f1f4;

  --text-primary-color: #101415;
  --text-secondary-color: #828282;
}

body {
  color: var(--text-primary-color);
  font-family: 'Mulish', sans-serif;
  background-color: var(--bg-color);
  margin: 0;
}

iframe {
  pointer-events: none;
}
